@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lobster:400);

#about {
    z-index: 0;
    overflow: hidden;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent url(/resources/images/pattern-light.png) scroll repeat center top;
    background-size: auto;
    opacity: 1.00;
}

#about .content {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 100px auto 100px auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
}

#about .content .wrap .txt-xl {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 300 60px/60px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#about .content .wrap .txt-lg {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 400 20px/30px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#about .content .wrap .txt-sm {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 400 16px/20px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#about .content .wrap .txt-xs {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 400 14px/20px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#tech {
    z-index: 0;
    overflow: hidden;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
}

#tech .content {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 100px auto 100px auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
}

#tech .content .wrap .txt-xl {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 300 60px/60px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#tech .content .wrap .txt-lg {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 400 20px/30px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#tech .content .wrap .txt-sm {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 400 16px/20px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#tech .content .wrap .txt-xs {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 400 14px/20px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#tech .content .wrap .bar {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 30px 30px 30px 30px;
    background: rgba(255, 255, 255, 0.25);
    background-size: auto;
    opacity: 1.00;
}

#tech .content .wrap .bar .cvr {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
}

#tech .content .wrap .bar .cvr .icon {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: 60px;
    width: 60px;
    margin: 0 auto 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 30px 30px 30px 30px;
    background: #FFFFFF;
    background-size: auto;
    opacity: 1.00;
}