/*** FONTS ***/

@font-face {
    font-family: Voltaire;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/voltaire.woff), url(fonts/voltaire.ttf);
}

@font-face {
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/opensans.woff), url(fonts/opensans.ttf);
}

@font-face {
    font-family: OpenSans;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/opensans-light.woff), url(fonts/opensans-light.ttf);
}

@font-face {
    font-family: OpenSans;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/opensans-bold.woff), url(fonts/opensans-bold.ttf);
}

/*** GLOBAL ***/

.spinload {
    z-index: 1000000;
    overflow: visible;
    position: fixed;
    display: block;
    height: auto;
    min-height: 100%;
    max-height: none;
    width: auto;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #000000;
    opacity: 1;
}

.interface {
    z-index: 1;
    overflow: visible;
    position: absolute;
    display: block;
    height: auto;
    min-height: 0;
    max-height: none;
    width: auto;
    min-width: 90%;
    max-width: 90%;
    margin: 0;
    padding: 5% 5% 5% 5%;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

.button {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 0px 10px 0px 10px;
	padding: 20px 20px 20px 20px;
	outline: 0;
	border: 0;
	border-radius: 13px 13px 13px 13px;
	background: rgba(0, 0, 0, 0.55);
	opacity: 1;
	font: 400 20px/20px OpenSans, Helvetica, Arial;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
}

.button:hover, .button:active, .button:focus {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 0px 10px 0px 10px;
	padding: 20px 20px 20px 20px;
	outline: 0;
	border: 0;
	border-radius: 13px 13px 13px 13px;
	background: rgba(75, 75, 75, 0.55);
	opacity: 1;
	font: 400 20px/20px OpenSans, Helvetica, Arial;
	color: #000000;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
}

.collection {
	z-index: 10;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 15px 10px 5px 10px;
	padding: 20px 20px 20px 20px;
	outline: 0;
	border: 0;
	border-radius: 13px 13px 13px 13px;
	background: rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.55);
    -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.55);
    -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.55);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.55);
}

.collection:hover, .collection:active, .collection:focus{
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 15px 10px 5px 10px;
	padding: 20px 20px 20px 20px;
	outline: 0;
	border: 0;
	border-radius: 13px 13px 13px 13px;
	background: rgba(75, 75, 75, 1);
	opacity: 1;
	font: 400 20px/20px OpenSans, Helvetica, Arial;
	color: #000000;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
    -webkit-box-shadow: inset 0 0 0 2px #0099CC;
    -moz-box-shadow: inset 0 0 0 2px #0099CC;
    -ms-box-shadow: inset 0 0 0 2px #0099CC;
    -o-box-shadow: inset 0 0 0 2px #0099CC;
    box-shadow: inset 0 0 0 2px #0099CC;
}

.field {
	clear: both;
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	min-height: 0;
	max-height: none;
	width: auto;
	min-width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
	font: 400 14px/20px OpenSans, Helvetica, Arial;
	color: #FFFFFF;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
}

.area {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	min-height: 100px;
	max-height: none;
	width: auto;
	min-width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
	font: 400 14px/20px OpenSans, Helvetica, Arial;
	color: #FFFFFF;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
}

.shadow {
    -webkit-box-shadow: 0 10px 20px -20px #000000;
    -moz-box-shadow: 0 10px 20px -20px #000000;
    -ms-box-shadow: 0 10px 20px -20px #000000;
    -o-box-shadow: 0 10px 20px -20px #000000;
    box-shadow: 0 10px 20px -20px #000000;
}

.border {
    -webkit-box-shadow: inset 0 0 0 2px #0099CC;
    -moz-box-shadow: inset 0 0 0 2px #0099CC;
    -ms-box-shadow: inset 0 0 0 2px #0099CC;
    -o-box-shadow: inset 0 0 0 2px #0099CC;
    box-shadow: inset 0 0 0 2px #0099CC;
}

.border:hover {
    -webkit-box-shadow: inset 0 0 0 4px #0C161C;
    -moz-box-shadow: inset 0 0 0 4px #0C161C;
    -ms-box-shadow: inset 0 0 0 4px #0C161C;
    -o-box-shadow: inset 0 0 0 4px #0C161C;
    box-shadow: inset 0 0 0 4px #0C161C;
}

/*** GALLERY ***/

#gallery {
    z-index: 0;
    overflow: hidden;
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #000000;
    opacity: 1;
}

#gallery .animation {
    z-index: 1000000;
    overflow: visible;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#gallery .slide {
    z-index: 0;
    overflow: visible;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent no-repeat scroll center center;
    opacity: 1;
}

#gallery .content {
    z-index: 1000000;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#gallery .content .wrap .coverage {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#gallery .content .wrap .coverage .avatar {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: 160px;
    width: 160px;
    margin: 0 auto 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 80px 80px 80px 80px;
    background: transparent;
    opacity: 1;
}

#gallery .content .wrap .name {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    font: 400 50px/50px Voltaire, Helvetica, Arial;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 5px 0 #000000;
}

#gallery .content .wrap .job {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    font: 400 20px/30px OpenSans, Helvetica, Arial;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

/*** BAR ***/

#bar {
  z-index: 1100;
  overflow: hidden;
  position: fixed;
  display: block;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #000000;
}

#bar .content {
  z-index: 0;
  overflow: visible;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  opacity: 1;
}

#bar .content .wrap .coverage {
  z-index: 0;
  overflow: visible;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 10px 10px 10px 10px;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  opacity: 1;
}

#bar .content .wrap .coverage .logo {
  z-index: 0;
  overflow: visible;
  position: relative;
  display: block;
  height: 20px;
  width: 200px;
  margin: 0 auto 0 auto;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  opacity: 1;
}

/*** NAV ***/

#nav {
  z-index: 1100;
  overflow: hidden;
  position: fixed;
  display: block;
  height: 60px;
  width: 60px;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  opacity: 1;
}

#nav .content {
  z-index: 0;
  overflow: visible;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  opacity: 1;
}

#nav .content .wrap .coverage {
  z-index: 0;
  overflow: visible;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 10px 10px 10px 10px;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  opacity: 1;
}

#nav .content .wrap .coverage .menu {
  z-index: 0;
  overflow: visible;
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  opacity: 1;
}

/*** RIBBON ***/

.ribbon {
	margin-top: 1px;
    background-color: #182732;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    right: -75px;
    top: 65px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    @media only screen and (max-width : 520px) {
		display: none;
	}
}

.ribbon a {
    background-color: #182732;
    border: 1px solid #3B434D;
    color: #fff;
    display: block;
    font: 95.25% OpenSans, Helvetica, Arial;
    font-weight: bold;
    margin: 3px 0;
    padding: 1px 63px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #282828;
}
.ribbon a:hover {
    background-color: #0C161C;
    border: 1px solid #3B434D;
    color: #71777b;
}

/*** ABOUT ***/

#about {
    z-index: 0;
    overflow: hidden;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 70px 70px 0 0;
    background: #FFFFFF;
    opacity: 1;
}

#about .content {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 100px auto 100px auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#about .content .wrap .box {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent url(../media/strip.png) scroll repeat-x center center;
    opacity: 1;
}

#about .content .wrap .box .topic {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 50%;
    margin: 0 auto 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #FFFFFF;
    opacity: 1;
    font: 700 20px/30px OpenSans, Helvetica, Arial;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#about .content .wrap .quote {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    font: 400 16px/20px OpenSans, Helvetica, Arial;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

/***TECH***/

#tech {
    z-index: 0;
    overflow: hidden;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent url(../media/pattern-dark.png) scroll repeat center top;
    background-size: auto;
    opacity: .85;
}

#tech .content {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 75px auto 100px auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#tech .content .wrap .box {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#tech .content .wrap .box .topic {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 50%;
    margin: 0 auto 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#tech .content .wrap .txt-xl {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 50%;
    margin: 0 auto 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    font: 700 30px/50px OpenSans, Helvetica, Arial;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#tech .content .wrap .txt-lg {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 400 20px/30px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#tech .content .wrap .txt-sm {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1;
    font: 400 16px/20px 'Open Sans', 'Helvetica Neue', 'Arial';
    font-weight: bold;
    color: rgb(72,75,75);
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#tech .content .wrap .txt-xs {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 400 14px/20px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: rgb(72,75,75);
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#tech .content .wrap .bar {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 30px 30px 30px 30px;
    background: rgba(255, 255, 255, 0.75);
    background-size: auto;
    opacity: 1.00;
}

#tech .content .wrap .bar .cvr {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
}

#tech .content .wrap .bar .cvr .icon {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: 60px;
    width: 60px;
    margin: 0 auto 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 30px 30px 30px 30px;
    background: #FFFFFF;
    background-size: auto;
    opacity: 1.00;
}

/***PORTFOLIO***/

#portfolio {
    z-index: 0;
    overflow: hidden;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent url(../media/pattern-dark.png) scroll repeat center top;
    background-size: auto;
    opacity: .85;
}

#portfolio .content {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 100px auto 100px auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
}

#portfolio .content .wrap .txt-xl {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 300 60px/60px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#portfolio .content .wrap .txt-lg {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 400 20px/30px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#portfolio .content .wrap .txt-sm {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 400 16px/20px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#portfolio .content .wrap .txt-xs {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
    font: 400 14px/20px 'Open Sans', 'Helvetica Neue', 'Arial';
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#portfolio .content .wrap .cvr {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
}

#portfolio .content .wrap .cvr .picture {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 50px 50px 50px 50px;
    background: transparent;
    background-size: auto;
    opacity: 1.00;
}

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}

.ch-img-1 {
    background: url(../media/tech-js.png);
}

.ch-img-2 {
    background: url(../media/tech-html.png);
}

.ch-img-3 {
    background: url(../media/tech-css.png);
}

.ch-info {
    position: absolute;
    background: #0C161C;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}
 
.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}

.ch-item:hover .ch-info p {
    opacity: 1;
}

/*** EXP ***/

#exp {
    z-index: 0;
    overflow: hidden;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #FFFFFF;
    opacity: 1;
}

#exp .content {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 100px auto 100px auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#exp .content .wrap .box {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent url(../media/strip.png) scroll repeat-x center center;
    opacity: 1;
}

#exp .content .wrap .box .topic {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 50%;
    margin: 0 auto 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #FFFFFF;
    opacity: 1;
    font: 700 20px/30px OpenSans, Helvetica, Arial;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#exp .content .wrap .coverage {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#exp .content .wrap .coverage .icon {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 50px 50px 50px 50px;
    background: transparent;
    opacity: 1;
}

#exp .content .wrap .date {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    font: 400 14px/20px OpenSans, Helvetica, Arial;
    color: #AAAAAA;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#exp .content .wrap .job {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    font: 400 20px/30px OpenSans, Helvetica, Arial;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#exp .content .wrap .desc {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    font: 400 14px/20px OpenSans, Helvetica, Arial;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

/*** EDU ***/

#edu {
    z-index: 0;
    overflow: hidden;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #EEEEEE;
    opacity: 1;
}

#edu .content {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 100px auto 100px auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#edu .content .wrap .box {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent url(../media/strip.png) scroll repeat-x center center;
    opacity: 1;
}

#edu .content .wrap .box .topic {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 50%;
    margin: 0 auto 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #EEEEEE;
    opacity: 1;
    font: 700 20px/30px OpenSans, Helvetica, Arial;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#edu .content .wrap .coverage {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#edu .content .wrap .coverage .icon {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto 0 auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 50px 50px 50px 50px;
    background: transparent;
    opacity: 1;
}

#edu .content .wrap .date {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    font: 400 14px/20px OpenSans, Helvetica, Arial;
    color: #AAAAAA;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#edu .content .wrap .diploma {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    font: 400 20px/30px OpenSans, Helvetica, Arial;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#edu .content .wrap .desc {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    font: 400 14px/20px OpenSans, Helvetica, Arial;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

/*CONTACT*/

#contact {
    z-index: 0;
    overflow: hidden;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0px 0px 50px 50px;
    background: transparent url(../media/pattern-dark.png) repeat scroll center top;
    opacity: .8;
}

#contact .content {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 80px auto 50px auto;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
	max-width: 800px;
}

#contact .content .wrap .box {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#contact .content .wrap .box .topic {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 10px 10px 10px 10px;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
	font: 700 50px/30px OpenSans, Helvetica, Arial;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
}

#contact .content .wrap .data {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
}

#contact .content .wrap .coverage {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 10px 10px 10px 10px;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
}

#contact .content .wrap .coverage .icon {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: 60px;
	width: 60px;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 30px 30px 30px 30px;
	background: transparent;
	opacity: 1;
}

/*** LEGAL ***/

#legal {
    z-index: 0;
    overflow: hidden;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#legal .content {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
}

#legal .content .wrap .copyright {
    z-index: 0;
    overflow: visible;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    font: 400 14px/20px OpenSans, Helvetica, Arial;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}
